.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
}

.ship {
  background-color: blue; /* Color para las celdas con barcos */
}

.computer-shot {
  background-color: yellow; /* Color para las celdas con disparos de la computadora */
}

.player-shot {
  background-color: aquamarine; /* Color para las celdas con disparos del jugador */
}

.sunk {
  background-color: rgb(212, 60, 60); /* Cambia el color de fondo para las celdas con barcos hundidos */
  color: #fefefe;
}