/* GameBoardComputer.css */

/* Estilos para cuando una celda fue disparada por el jugador */
.player-shot {
  background-color: rgb(90, 90, 90); /* Cambia el color de fondo cuando el jugador dispara */
  color: #fefefe;
}

/* Estilos para celdas que representan barcos */
.computer-ship {
  background-color: blue; /* Cambia el color de fondo para las celdas que tienen barcos */
  color: #fefefe;
}

/* Estilos para celdas que representan barcos hundidos */
.sunk {
  background-color: rgb(212, 60, 60); /* Cambia el color de fondo para las celdas con barcos hundidos */
  color: #fefefe;
}

.game-over-message{
  font-size: 40px;
  text-align: center;

}